body {
  --color-blue:    #0d6efd;
  --color-indigo:  #6610f2;
  --color-purple:  #6f42c1;
  --color-pink:    #d63384;
  --color-red:     #dc3545;
  --color-orange:  #fd7e14;
  --color-yellow:  #ffc107;
  --color-green:   #198754;
  --color-teal:    #20c997;
  --color-cyan:    #0dcaf0;
  --color-black:   #000000;
  --color-gray:    #ccc;

  --color-blue-translucid: #0d6efd99;
  --color-red-translucid: #dc354599;

  --box-shadow-sm: 0px 0px 3px 0px #000;
  --box-shadow-md: 0px 0px 6px 0px #000;
  --box-shadow-lg: 0px 0px 9px 0px #000;
}