.powerstat {

  &.intelligence {
    color: blue;
  }

  &.strength {
    color: orange;
  }

  &.speed {
    color: green;
  }

  &.durability {
    color: darkslategray;
  }

  &.combat {
    color: purple;
  }

  &.power {
    color: red;
  }
}